// Contact section
@use '../base/variables' as *;
@use '../base/settings' as *;
@use '../utilities/mixins' as *;


.pageabout-wrapper {
    background-image: url('../../images/starwarlarge.png');
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

        .pageabout-opening {
            display: flex;
            flex-wrap: wrap;

            .pageabout-lefthome-img {
                position: absolute;
                top: 0;
                right: 50%;
                max-width: 50%;
                height: auto;
                overflow: hidden;
                z-index: 99;
                transform-origin: 0% 0%; 
            }

            .pageabout-righthome-img {
                position: absolute;
                top: 0;
                left: 50%;
                max-width: 50%;
                height: auto;
                overflow: hidden;
                z-index: 99;
                transform-origin: 100% 100%; 
            }
        }
        .pageabout-left-img {
            position: absolute;
            top: 0;
            left: 0;
            max-width: 50%;
            height: auto;
            overflow: hidden;
            z-index: 99;
        }

        .pageabout-right-img {
            position: absolute;
            top:0;
            right: 0;
            align-self: right;
            max-width: 50%;
            height: auto;
            overflow: hidden;
            z-index: 99;
        }



    .pageabout-container {
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.1rem;

        .pageabout-section {
            overflow: hidden;
            display: flex;
            flex-direction: column;
            

            .pageabout-section-img {
                position: relative;
                max-width: 50%;
                height: auto;
                left: 0;
                right: 0;
                align-items: center;
                margin: 0 auto;
                margin-bottom: 0.5rem;
            }
        }
        @include mq($tablet){
            width: 75%;
            .pageabout-section {
                flex-direction: row;
                flex-wrap: wrap;
                padding: 1rem;
                align-items: center;

                p {
                    max-width: 45%;
                    padding-left: 1rem;
                }
            }
        }


    }

}


.contact {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    padding: 1em;

    a {
        padding: 0 1em;
    }

}