// Main Nav

@use '../base/settings' as *;
@use '../utilities/functions' as *;
@use '../utilities/mixins' as *;

.footer-nav {

    width: 100%;
    background-color: $dark;
    height: auto; 
    visibility: visible;
    transition: none;
    

    .show & {
        transition: none;
        height: auto;
    }

    ul {
        @include flatten($is-list: true);
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 70%;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
    a {
        color: $light;
        text-decoration: none;
        display: block;
        line-height: 50px;
        font-size: 1.3em;
        font-weight: bold;
        padding: 0 12px;
        @at-root .main-nav li:not(:first-child) a {
            border-top: 1px solid $grey;
        }
        &:hover,
        &:focus,
        &:active {
            background-color: rgba(white, 0.2);
        }
    }

    @media (min-width: em(600)){
        height: 0;
        visibility: hidden;
        overflow: hidden;
        transition: height 0.5s ease, visibility 0s 0.5s;

        .show & {
            transition: height 0.5s ease, visibility 0s;
            visibility: hidden;
            height: 150px;
        }
        
        ul {
            display: flex;
            flex-direction: row;
        }

        li {
            flex: 1;
        }

        a {
            padding: 0;
            text-align: center;
            border-top:  none;
            @at-root .main-nav li:not(:first-child) a {
                border-top: none;
            }
        }

    }

}