// Main

@use '../base/settings' as *;
@use '../utilities/functions' as *;

main {
    padding: $section-padding;

    article {
        border: 1px dotted darken($grey, 30);
        padding: em(20);
        margin-bottom: em(20);
        p:last-child {
            margin-bottom: 0;
        }
    }

    @media (min-width: em(600)){

        article {
            width: 49%;
            margin-bottom: 0;
        }

    }

}