// Type

@use 'settings' as *;

body {
    font-family: $bodyFont;
    color: $light;
}

h1, h2, h3, h4 {
    font-family: $headingFont;

}

h1, h2, h3, h4, p, a {
    margin-top: 0;
    color: $light;
    opacity: 90%;
    letter-spacing: 1px;
}

p {
    line-height: 1.5;
    font-size: 1.2rem;
}

img {
    max-width: 100%;
    height: auto;
}